body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

a {
  color: black;
  text-decoration: underline;
}

.clickable {cursor: pointer;}

/* Layout */
.separator {
  display: block;
  height: 40px;
  clear: both;
}
.separator-sm {
  display: block;
  height: 20px;
  clear: both;
}

/* Color */
.clr-bamboo {color: #005E4E;}

/* Button */
@media (min-width: 768px) {
  .btn-lh {
    padding: 10px 40px;
    margin-bottom: 10px;
  }

  p, ul {font-size: 1.2em;}
}

@media (max-width: 768px) {
  .btn-lh {
    padding: 10px;
  }
}

.btn-lh {
  border-radius: 10px;
  font-weight: bold;
  border: none;
}
.btn-lh-lg {
  font-size: 2rem;
}
.btn-bamboo {
  background-color: #005E4E;
  color: white;
}
.btn-bamboo-outline {
  background-color: white;
  border: #005E4E solid 1px;
  color: #005E4E;
}

/* Card */
.card {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 20px 0;
  border-radius: 10px;
  background-color: white;
  padding: 40px;
}

.section-title {
  background-color: #005e4e;
  color: white;
  padding: 20px 0;
  margin: 40px 0;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}

img.campaign {
  width: 100%;
  margin-bottom: 10px;
}

.chat-icon {
  position: fixed;
  right: 20px;
  bottom: 10px;
  width: 60px;
}

.create-campaign-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.social-media img {padding: 15px;}

.none {display: none;}

.slick-arrow > i.fa {
  margin-top: 8px !important;
  cursor: pointer;
}
